form {
  margin: 0 0 100px;
}

label.control-label[for*="story_"] {
  padding-right: 10px;
  font-size: 18px;

}

#toggleFilter {
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: inline;
  padding: 5px;

}

.container.home {
  margin-bottom: 0;
}

section#filter-wrap {
  color: #000;
  background: #AAA;
  padding-bottom: 50px;
}

section#filter-wrap li a {
  color: #000;
}
