%h2.center Filter Stories
.row.filter-nav
  %ul.nav.nav-list.span3.offset2
    %li
      =link_to "All", root_path
    %li
      =link_to "Bias", root_path
    %li
      =link_to "Offense", root_path

  %ul.nav.nav-list.span3
    %li
      =link_to "All", root_path
    %li
      =link_to "Bias", root_path
    %li
      =link_to "Offense", root_path
  %ul.nav.nav-list.span3
    %li
      =link_to "All", root_path
    %li
      =link_to "Bias", root_path
    %li
      =link_to "Offense", root_path
