%h2.center Filter Stories
.row.filter-nav
  %ul.nav.nav-list.span3
    %li
      %h3
        =link_to "No Filter", root_path
  %ul.nav.nav-list.span3
    %li
      %h3 Biases
    %li
      =link_to "All", root_path
    - all_biases.each do |b|
      %li
        =link_to b, bias_link(b)

  %ul.nav.nav-list.span3
    %li
      %h3 Offenses
    %li
      =link_to "All", root_path
    - all_offenses.each do |b|
      %li
        =link_to b, offense_link(b)
